@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.wholenav {
  width: 100%;
  height: 15%;
  background-color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
}

.subnav {
  width: 90%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menus b:hover{
  color: #ff5d1d;
}

.login b:hover{
  color: #ff5d1d;
}

.icons i:hover{
  color: #ff5d1d;
}

.menus {
  width: 30%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imag {
  width: 35%;
  height: 100%;
  /* background-color:pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 20%;
  height: 100%;
  /* background-color: lightgreen  ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  width: 13%;
  height: 100%;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons i {
  font-size: 21px;
}

.wholehome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-color: brown; */
  margin-top: 5%;
}

.subhome {
  width: 89%;
  height: 100%;
  /* background-color: black; */
  background-image: url("./assest/bg\ 1.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.wholeloca {
  width: 100%;
  height: 50%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.subloca {
  width: 91%;
  height: 70%;
  /* background-color: brown; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.locaimg {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-weight: 700;
  font-size: 14px;
  /* border-width: 0.8px;
  border-color: #f7f7f7;
  border-style: solid;
  font-size: 14px; */
}

.locaimg:hover {
  color: #ff5d1d;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.anima:hover {
  animation: headShake 1s;
}

.wholearrival {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subarrival {
  width: 91%;
  height: 76%;
  /* background-color: aqua; */
}

.sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.sec1 strong {
  font-size: 36px;
  font-weight: 700;
}

.sec1 p {
  color: #9ca09e;
  font-size: 13px;
}

.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.arrimag {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.hovicon i {
  font-size: 17px;
  background-color: white;
  padding: 13px 13px;
}

.hovicon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: -40%;
  padding: 20px 18px;
}

.arrimag:hover .hovicon {
  right: 2px;
  transition: 0.5s linear;
}

.iconcolor:hover {
  background-color: #ff5d1d;
  color: white;
}

.arrimag p {
  color: #9ca09e;
  font-size: 15px;
}

.toppop {
  width: 100%;
  height: 35%;
  /* background-color: red;     */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.toppop b {
  font-size: 36px;
}

.toppop p {
  font-size: 13px;
  color: #9ca09e;
}

.wholepopu {
  width: 100%;
  height: 100%;
  /* background-color: purple;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpopu {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popular1 {
  width: 50%;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.popular2 {
  width: 50%;
  height: 100%;
  background-color: blue;
}

.chaimg {
  width: 100%;
  height: 100%;
}

.cartbutton {
  background-color: black;
  color: white;
  padding: 17px 35px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  outline: none;
  border: none;
}

.cartbutton:hover {
  background-color: #ff5d1d;
}

.wholesell {
  width: 100%;
  height: 40%;
  /* background-color: green;  */
}

.seller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seller b {
  font-size: 36px;
  margin-top: 80px;
}

.seller p {
  font-size: 14px;
  color: #9ca09e;
  margin-top: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 55px;
}

.decorbut {
  padding: 18px 30px;
  background-color: #f7f7f7;
  color: black;
  border: none;
  font-weight: 700;
}

.kitchenbut {
  padding: 18px 30px;
  background-color: #f7f7f7;
  color: black;
  border: none;
  font-weight: 700;
}

.livingroombut {
  padding: 18px 30px;
  background-color: #f7f7f7;
  color: black;
  border: none;
  font-weight: 700;
}

.sofabut {
  padding: 18px 30px;
  background-color: #f7f7f7;
  color: black;
  border: none;
  font-weight: 700;
}

.decorbut:hover {
  background-color: black;
  color: white;
}

.decorbut:active {
  background-color: #ff5d1d;
  color: white;
}

.kitchenbut:hover {
  background-color: black;
  color: white;
}

.kitchenbut:active {
  background-color: #ff5d1d;
  color: white;
}

.livingroombut:hover {
  background-color: black;
  color: white;
}
.livingroombut:active {
  background-color: #ff5d1d;
  color: white;
}

.sofabut:hover {
  background-color: black;
  color: white;
}
.sofabut:active {
  background-color: #ff5d1d;
  color: white;
}

.decorpart1 {
  width: 100%;
  height: 70%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpart1 {
  width: 90%;
  height: 89%;
  /* background-color: green; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.decoimgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.decoimgs p {
  font-size: 15px;
  color: #9ca09e;
}

.hoveicon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: -40%;
  padding: 20px 18px;
}

.hoveicon i {
  font-size: 17px;
  background-color: white;
  padding: 13px 13px;
}

.decoimgs:hover .hoveicon {
  right: 2px;
  transition: 0.5s linear;
}

.icocolor:hover {
  background-color: #ff5d1d;
  color: white;
}

.decorpart2 {
  width: 100%;
  height: 70%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpart2 {
  width: 90%;
  height: 89%;
  /* background-color: green; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.decoimgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.decoimgs p {
  font-size: 15px;
  color: #9ca09e;
}

.hoveicon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: -40%;
  padding: 20px 18px;
}

.hoveicon i {
  font-size: 17px;
  background-color: white;
  padding: 13px 13px;
}

.decoimgs:hover .hoveicon {
  right: 2px;
  transition: 0.5s linear;
}

.icocolor:hover {
  background-color: #ff5d1d;
  color: white;
}

.wbomdes {
  width: 100%;
  height: 80%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbomdes {
  width: 89%;
  height: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbomdes img {
  width: 100%;
  height: 100%;
}

.wholelistmenu {
  width: 100%;
  height: 50%;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sublistmenu {
  width: 89%;
  height: 85%;
  /* background-color: green; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.menusimag {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menusimag img {
  color: #f7f7f7;
  opacity: 0.5;
}

.menusimag:hover img {
  color: black;
  opacity: 1;
}

.bgimag {
  width: 100%;
  height: 100%;
  background-image: url(./assest/bgimag.jpg);
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: sticky;
}

.customerdet {
  width: 26%;
  height: 70%;
  background-color: white;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subdet {
  width: 88%;
  height: 80%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  margin-right: -60px;
}

.cus h4 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 30px;
}

.cus h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.cusadd {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.cusadd ol {
  font-size: 15px;
}

.conbutton button {
  padding: 18px 30px;
  background-color: #ff5d1d;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin-top: 25px;
}

.conbutton:hover button {
  background-color: black;
}

.wholeicon {
  width: 100%;
  height: 40%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subicon {
  width: 88%;
  height: 100%;
  /* background-color: purple; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.iconshop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.iconshop img {
  width: 15%;
  height: 15%;
}

.iconshop h6 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.iconshop p {
  font-size: 13px;
  color: rgb(57, 52, 52);
  font-weight: 400;
}

.iconshop:hover h6 {
  color: #ff5d1d;
}

.wholefoot {
  width: 100%;
  height: 70%;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subfoot {
  width: 90%;
  height: 50%;
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
  display: grid;
  line-height:30px;
  grid-template-columns:250px 250px 250px 900px;
}

.secfoot h3{  
   font-size: 14px;
   font-weight: 700;
}

.secfoot p{
  font-size: 13px;
  font-weight: 400px;
  color: rgb(57, 52, 52);
}

.secfoot p:hover{
  color: #ff5d1d;
}

.secfoot input{
  width: 55%;
  height: 18%;
  margin-top: 20px;
}

.secfoot button{
  width: 15%;
  height: 19%;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: black;
  border: none;
}



.secfoot button:hover{
  background-color: #ff5d1d;
}

.menuicon{
  margin-top: 50px;

}

.menuicon i{
  width: 100%;
  height: 100%;
 padding: 15px 15px;
  background-color: #f7f7f7;
  font-size: 20px;
  
}

.menuicon i:hover{
  background-color: #ff5d1d;
  color: white;
}

.com{
  width: 100%;
  height: 9%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.com p{
  font-size: 13px;
  color:rgb(57, 52, 52);
}

.com span{
  color: #ff5d1d;
}

@media(max-width:1200px){
   
}